@{
    ViewData["Title"] = "Wigets";
    ViewData["SubTitle"] = "Draggabble Widget Boxes with Persistent Position and State";
}
<div class="alert alert-block alert-info">
    <button type="button" class="close" data-dismiss="alert">
        <i class="ace-icon fa fa-times"></i>
    </button>
    The following sample email templates are converted using the provided email tool which
    converts normal Bootstrap HTML to email friendly table layout with inline CSS!
</div>

<div class="space-12"></div>
<!--First Row-->
<div class="row">
    <div class="col-xs-3">
        <a href="~/html/email-confirmation.html" class="thumbnail" target="_blank">
            <img class="img-responsive" src="~/images/email/email1.png" alt="Email Template" />
        </a>
    </div>

    <div class="col-xs-3">
        <a href="~/html/email-navbar.html" class="thumbnail" target="_blank">
            <img class="img-responsive" src="~/images/email/email2.png" alt="Email Template" />
        </a>
    </div>

    <div class="col-xs-3">
        <a href="~/html/email-newsletter.html" class="thumbnail" target="_blank">
            <img class="img-responsive" src="~/images/email/email3.png" alt="Email Template" />
        </a>
    </div>

    <div class="col-xs-3">
        <a href="~/html/email-contrast.html" class="thumbnail" target="_blank">
            <img class="img-responsive" src="~/images/email/email4.png" alt="Email Template" />
        </a>
    </div>
</div>
